@page "/AlbumDetails/{AlbumId:guid}"
@inject IAlbumApiService _albumApiService
@inject ITrackApiService _trackApiService
@inject NavigationManager navigation
@inject IJSRuntime JSRuntime

@if (string.IsNullOrWhiteSpace(error))
{
    if (album != null)
    {
        <header class="d-flex flex-column border-bottom mb-5">
            <div class="d-flex">
                <div class="w-75 text-center d-flex justify-content-center align-items-center">
                    <h1 class="title">@album.Album.Name</h1>
                </div>
                <figure class="small-img">
                    <img class="small-img" src="@album.Album.Image" alt="@album.Album.Name" title="@album.Album.Name" />
                </figure>
            </div>
            <div class="d-flex">
                <div class="me-5">Tracks count: <span class="red">@album.Album.NumberOfTracks</span></div>
                <div class="me-5">Number of discs: <span class="red">@album.Album.NumberOfDiscs</span></div>
                <div class="me-5">Total time: <span class="red">@album.Album.Duration</span></div>
            </div>

        </header>
        if (currentTrack == null)
        {
            <TrackList Tracks="album.Tracks"
                       OnDelete="DeleteTrack"
                       OnUpdate="UpdateTrack"
                       OnAdd="AddTrack"
                       ShowOperations="true">
            </TrackList>
            <AlbumList ArtistId="album.Album.ArtistId"
                       OnShowAlbumDetails="ShowDetails">
            </AlbumList>
        }
        else
        {
            <TrackForm Track="currentTrack"
                       OnSave="SaveTrack"
                       OnCancel="Refresh">

            </TrackForm>
        }
        <Registration />


    }
    else
    {
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

@code {
    private string error;
    private TrackModel currentTrack;
    private AlbumWithTracksModel album;
    [Parameter]
    public Guid AlbumId { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        await Refresh();
    }

    public async Task Refresh()
    {
        var result = await _albumApiService.GetAlbumsWithTracksByIdAsync(AlbumId);
        if (result.IsSucces) album = result.Items.FirstOrDefault();
        else error = result.Error;
        currentTrack = null;
    }

    public void ShowDetails(Guid id)
    {
        navigation.NavigateTo($"/AlbumDetails/{id}");
    }

    public void UpdateTrack(TrackModel track)
    {
        currentTrack = track;
    }
    public void AddTrack()
    {
        var track = new TrackModel();
        track.AlbumId = AlbumId;
        track.DiscNumber = album.Album.NumberOfDiscs;
        track.TrackNumber = getMaxPosibleTrackNumberFromLastDisc();
        currentTrack = track;

    }

    private int getMaxPosibleTrackNumberFromLastDisc()
    {
        return album.Tracks
            .Where(t => t.DiscNumber == album.Album.NumberOfDiscs)
            .Max(t => t.TrackNumber) + 1;
    }

    public async Task DeleteTrack(Guid trackId)
    {
        var result = await _trackApiService.DeleteAsync(trackId);
        if (!result.IsSucces) error = result.Error;
        await JSRuntime.InvokeVoidAsync("hideConfirmDelete", "deletecategorymodal");
        await Refresh();

    }
    public async Task SaveTrack(TrackModel track)
    {
        ItemResultModel<TrackModel> result;

        if (track.Id == Guid.Empty)
        {
            result = await _trackApiService.AddAsync(
            track.Title,
            track.Duration,
            track.Explicit,
            track.TrackNumber,
            track.DiscNumber,
            track.AlbumId
            );
        }
        else
        {
            result = await _trackApiService.UpdateAsync(
            track.Title,
            track.Duration,
            track.Explicit,
            track.TrackNumber,
            track.DiscNumber,
            track.Id,
            track.AlbumId
            );
        }

        if (result.IsSucces)
        {
            await Refresh();
            currentTrack = null;
        }
        else error = result.Error;
    }
}
