
@if (Artists != null)
{   

    <div class="d-flex flex-wrap">
        @foreach (var artist in Artists)
        {
            <div class="card artist-card mb-5 me-5" @onclick="e => OnDetails.InvokeAsync(artist)">
                <div class="card-body">

                    <img src="@artist.Image" title="@artist.Name" alt="@artist.Name" />

                </div>
                <div class="card-footer">
                    <p>Artist: <span>@artist.Name</span></p>
                    <p>Albums count: <span class="red">@artist.AlbumsCount</span></p>
                    @if (ShowPopularity)
                    {
                    <p>Popularity: <span class="red">@artist.Popularity</span></p>
                    }
                    @if (ShowFollowers)
                    {
                    <p>Followers: <span class="red">@artist.Followers</span></p>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}


@code {

    [Parameter]
    public IEnumerable<Artist> Artists { get; set; }
    [Parameter]
    public EventCallback<Artist> OnDetails { get; set; }
    [Parameter]
    public bool ShowPopularity { get; set; }
    [Parameter]
    public bool ShowFollowers { get; set; }
}
