<h3 class="mb-5">ArtistList</h3>

<div class="d-flex justify-content-between flex-wrap">
    @foreach (var artist in Artists)
    {
        <div class="card artist-card mb-5" @onclick="e => OnDetails.InvokeAsync(artist)">
            <div class="card-body">

                <img src="@artist.Image" title="@artist.Name" alt="@artist.Name" />

            </div>
            <div class="card-footer">
                <p>Artist: <span>@artist.Name</span></p>
                <p>Albums count: <span class="red">@artist.AlbumsCount</span></p>

            </div>
        </div>
    }
 </div>


    @code {     

        [Parameter]
        public IEnumerable<Artist> Artists { get; set; }
        [Parameter]
        public EventCallback<Artist> OnDetails { get; set; }
    }
