<EditForm Model="@Track" OnValidSubmit="@(e => OnSave.InvokeAsync(Track))">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="d-flex">
        <div class="form-group w-50 me-5">
            <label for="tracknr">Track number: </label>
            <InputNumber id="tracknr" class="form-control" min="1"
                         @bind-Value="Track.TrackNumber"/>
            <ValidationMessage For="@(() => Track.TrackNumber)"/>
        </div>
        <div class="form-group w-50">
            <label for="discnr">Disc number: </label>
            <InputNumber id="tracknr" class="form-control" min="1"
                         @bind-Value="Track.DiscNumber"/>
            <ValidationMessage For="@(() => Track.DiscNumber)"/>
        </div>
    </div>

    <div class="form-group mt-4">
        <label for="name">Name: </label>
        <InputText id="name" class="form-control"
                   @bind-Value="Track.Title" />
        <ValidationMessage For="@(() => Track.Title)" />
    </div>

    <div class="form-group mt-4">
        <label for="duration">Duration: </label>
        <InputText id="duration" class="form-control"
                   @bind-Value="Track.Duration" />
        <ValidationMessage For="(() => Track.Duration)"/>
    </div>

    <div class="form-group mt-4 mb-4">
        <label for="explicit">Explicit: </label>
        <InputCheckbox id="explicit" class="form-check-input"
                   @bind-Value="Track.Explicit" />
    </div>

    <button type="submit" class="btn btn-primary" @onclick="Save">Save</button>
    <button type="button" class="btn btn-warning" @onclick="OnCancel">Cancel</button>
</EditForm>

@code {
    [Parameter]
    public Track Track { get; set; }
    [Parameter]
    public EventCallback<Track> OnSave { get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }

    //Ik moest dit manueel triggeren want
    //bij het maken van een nieuwe track werd de DataAnnotation niet getriggerd

    private EditContext editContext { get; set; }
    protected override void OnInitialized()
    {
        editContext = new EditContext(new Track());
        editContext.EnableDataAnnotationsValidation();
        base.OnInitialized();
    }
    private void Save()
    {
        bool isValid = editContext.Validate();
        if (isValid) OnSave.InvokeAsync(Track);
    }


}